html {
  height: 100%;
}

body {
  height: 100%;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  background: whitesmoke;
}

body div {
  min-height: 100%;
  background-color: #ebd5c7;
}

img {
   max-width: 100%;
}

hr {
  border-bottom: 1px solid #000;
}

a {
  color: olivedrab;
  transition: 0.2s;
}

nav {
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #342f2d;
}

nav li {
  float: left;
  text-transform: uppercase;
  font-weight: 600;
  height: 50px;
  line-height: 50px;
  color: white;
}

nav li a {
  display: block;
  text-align: center;
  letter-spacing: 2px;
  text-transform: inherit;
  font-weight: inherit;
  height: inherit;
  line-height: inherit;
  color: inherit;
}

code {
  background: gray;
  color: white;
  border-radius: 5px;
  padding: 2px;
}

.button {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background: #342f2d;
  color: white;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
}

.navbar-link {
  padding: 0px 26px;
}

.sub-menu{
  text-transform: lowercase;
  font-weight: inherit;
  margin-top: 10px;
  height: 40px;
  line-height: 40px;
}

.active {
  background-color: #ebd5c7;
  color: black;
}

.profile-picture {
  border-radius: 50%;
  height: inherit;
}

nav li:hover, .button:hover {
  background-color: #646a54;
  color: black;
  transition: all 0.5s ease 0.1s;
}

a:hover {
  text-decoration: none;
  background: #646a54;
  color: black;
  padding: 5px;
  border-radius: 5px;
  transition: 0.2s;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: dimgray;
    color: white
  }

  body div {
    background-color: #342f2d;
  }
  
  hr {
    border-bottom: 1px solid #fff;
  }
  
  a {
    color: burlywood;
  }
  
  nav ul {
    background-color: #ebd5c7;
  }
  
  nav li {
    color: black;
  }
  
  .button {
    background: #ebd5c7;
    color: black;
  }
  
  .active {
    background-color: #342f2d;
    color: white;
  }

  nav li:hover, .button:hover {
    color: white;
  }
  
  a:hover {
    color: white;
  }
}
